/* FRAME */

body {
  background: rgb(150,111,51); /* Wood Color */
}

.canvas {
  width: 1200px;
  height: 550px;
  z-index: -5;
  margin: 5% auto;
  background: white;
  position: relative;
}

/* Drawing One */

.object {
  position: absolute;
}

/*
  soccer ball
  ------------*/

#soccer {
  top: 120px;
  left: 540px;
  width: 350px;
  height: 350px;
  background: gray;
  -moz-border-radius: 200px;
  -webkit-border-radius: 200px;
  border-radius: 200px;
}

#stripe {
  top: 295px;
  left: 545px;
  width: 350px;
  height: 20px;
  z-index: 1;
  background: black;
  transform: rotate(-30deg);
}

/*
  orange roll
  -----------*/

#orange-roll {
  top: 250px;
  left: 600px;
  width: 600px;
  height: 50px;
  z-index: -4;
  background: orange;
  transform: rotate(10deg);
}

/*
  tomato
  ------*/

#tomato {
  top: 400px;
  left: 500px;
  width: 150px;
  height: 120px;
  background: red;
  -moz-border-radius: 100px / 50px;
  -webkit-border-radius: 100px / 50px;
  border-radius: 100px / 50px;
  z-index: 2;
}

.stems {
  width: 5px;
  height: 30px;
  background: green;
  z-index: 3;
}

#stem-a {
  top: 400px;
  left: 575px;
}

#stem-b {
  top: 400px;
  left: 575px;
  transform: rotate(60deg);
}

#stem-c {
  top: 400px;
  left: 575px;
  transform: rotate(-60deg);
}

/*
  lemon
  ------*/

#lemon {
  top: 450px;
  left: 625px;
	width: 100px;
	height: 100px;
	background: yellow;
	-moz-border-radius: 100px / 75px;
	-webkit-border-radius: 100px / 75px;
	border-radius: 100px / 75px;
  z-index: 4;
  transform: rotate(150deg);
}

/*
  red-ball
  ------*/

#red-ball {
  top: 500px;
  left: 1100px;
	width: 100px;
	height: 100px;
	background: red;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}

/*
  jar
  ------*/

#jar-top {
  top: 300px;
  left: 780px;
  width: 150px;
  height: 80px;
  background: silver;
  opacity: .8;
  z-index: 2;
  -moz-border-radius: 100px / 50px;
  -webkit-border-radius: 100px / 50px;
  border-radius: 100px / 50px;
}

#jar-body {
  top: 340px;
  left: 780px;
  width: 150px;
  height: 200px;
  background: silver;
  opacity: .8;
  z-index: 4;
}

#jar-bottom {
  top: 500px;
  left: 780px;
  width: 150px;
  height: 80px;
  background: silver;
  opacity: .8;
  z-index: 1;
  -moz-border-radius: 100px / 50px;
  -webkit-border-radius: 100px / 50px;
  border-radius: 100px / 50px;
}

/*
  twig
  ------*/

#twig {
  top: 120px;
  left: 785px;
  width: 10px;
  height: 450px;
  background: brown;
  transform: rotate(-30deg);
  z-index: 2;
}

/*
  bottle
  ------*/

#bottle-cap {
  top: 80px;
  left: 915px;
  width: 30px;
  height: 30px;
  background: silver;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}

#bottle-neck {
  top: 100px;
  left: 890px;
  border-bottom: 100px solid green;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  height: 0;
  width: 30px;
  z-index: -3;
}

#bottle-body {
  top: 200px;
  left: 890px;
  width: 80px;
  height: 230px;
  background: green;
  z-index: -3;
}

#bottle-sticker-top {
  top: 170px;
  left: 900px;
  width: 60px;
  height: 40px;
  background: lightblue;
  -moz-border-radius: 100px / 50px;
  -webkit-border-radius: 100px / 50px;
  border-radius: 100px / 50px;
  z-index: -2;
}

#bottle-sticker-main {
  top: 280px;
  left: 890px;
  width: 80px;
  height: 100px;
  background: lightblue;
  z-index: -2;
}

#bottle-star {
   top: 300px;
   left: 905px;
   margin: 25px 0;
   position: absolute;
   display: block;
   color: red;
   width: 0px;
   height: 0px;
   border-right:  25px solid transparent;
   border-bottom: 17.5px  solid red;
   border-left:   25px solid transparent;
   -moz-transform:    rotate(35deg);
   -webkit-transform: rotate(35deg);
   -ms-transform:     rotate(35deg);
   -o-transform:      rotate(35deg);
}
#bottle-star:before {
   border-bottom: 20px solid red;
   border-left: 7.5px solid transparent;
   border-right: 7.5px solid transparent;
   position: absolute;
   height: 0;
   width: 0;
   top: -11.25px;
   left: -16.125px;
   display: block;
   content: '';
   -webkit-transform: rotate(-35deg);
   -moz-transform:    rotate(-35deg);
   -ms-transform:     rotate(-35deg);
   -o-transform:      rotate(-35deg);

}
#bottle-star:after {
   position: absolute;
   display: block;
   color: red;
   top: .75px;
   left: -26.125px;
   width: 0px;
   height: 0px;
   border-right: 25px solid transparent;
   border-bottom: 17.5px solid red;
   border-left: 25px solid transparent;
   -webkit-transform: rotate(-70deg);
   -moz-transform:    rotate(-70deg);
   -ms-transform:     rotate(-70deg);
   -o-transform:      rotate(-70deg);
   content: '';
}

}

#real {
  font-size: 3vh;
}
