body {
  font-size: 1.5vw;
  font-family: comic, cursive, fantasy, sans-seif, serif;
  align-items: right;
  background: aquamarine;
  color: gray;
  -webkit-font-smoothing: antialiased;
}

.object {
  position: absolute;
}

#title {
  position: absolute;
  top: 20%;
  left: 5%;
  transform: rotate3d(1, 1, 1, 45deg);
}

#overlay {
  position: absolute;
  top: 40%;
  left: 40%;
  transform: rotate3d(1, 1, 1, -45deg);
}

#projects {
  position: absolute;
  top: 10%;
  left: 60%;
  transform: rotate3d(1, 2, 1, 55deg);
}

#exercises {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: rotate3d(2, 1, 2, -35deg);
}

#readings {
  position: absolute;
  left: 70%;
  top: 60%;
  transform: rotate3d(2, 2, 1,65deg);
}

#webring {
  position: absolute;
  top: 80%;
  left: 25%;
  transform: rotate3d(1, 2, 2, -15deg);
}

#reset {
  position: absolute;
  top: 85%;
  left: 40%;
  transform: rotate3d(1, 2, 2, -15deg);
}

#tomato {
  top: 300px;
  left: 1300px;
  width: 150px;
  height: 120px;
  background: cornflowerblue;
  -moz-border-radius: 100px / 50px;
  -webkit-border-radius: 100px / 50px;
  border-radius: 100px / 50px;
}

.stems {
  width: 5px;
  height: 30px;
  background: fuchsia;
  z-index: 1;
}

#stem-a {
  top: 300px;
  left: 1375px;
}

#stem-b {
  top: 300px;
  left: 1375px;
  transform: rotate(60deg);
}

#stem-c {
  top: 300px;
  left: 1375px;
  transform: rotate(-60deg);
}
