/* FRAME */

body {
  background: rgb(150,111,51); /* Wood Color */
}

.canvas {
  width: 1200px;
  height: 600px;
  z-index: -3;
  margin: 5% auto;
  background: white;
  position: relative;
}

/* Drawing One */

.object {
  position: absolute;
}
