element.style {
}
body {
    min-width: 300px;
    overflow-x: hidden;
}

body {
    margin: 0;
    background: rgba(99,170,255,.2);
    color: rgb(0,53,107);
}
* {
    box-sizing: border-box;
}
user agent stylesheet
body {
    display: block;
    margin: 8px;
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    background: rgba(99,170,255,.2);
    text-shadow: none;
}
